{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="" method="POST" enctype="multipart/form-data" class="form-group m-4">
                    <h2>Crea una noticia</h2>
                    <div class="mb-3">
                        {% csrf_token %}
                    
                        {{ form.as_p }}
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock contenido %}