{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}

{% block contenido %}
    <h2>Aca estan mis noticias</h2>
    <div class="submenu">
        <a href="{% url 'noticias:listar' %}">TODAS</a>
        {% for cat in categorias %}
            <a href="?categoria={{ cat.pk }}">{{ cat.nombre }}</a>
        {% endfor %}
        <a href="?antiguedad_asc=1">Más antiguas primero</a>
        <a href="?antiguedad_desc=1">Más recientes primero</a>
        <a href="?orden_asc=1">Orden alfabético ascendente</a>
        <a href="?orden_desc=1">Orden alfabético descendente</a>
    </div>
    {% if noticias %}
        {% for noti in noticias %}
            <img src="{{ noti.imagen.url }}" width="50">
            <p><a href="{% url 'noticias:detalle' noti.pk %}">TITULO: {{ noti.titulo }}</a></p>
            <p>FECHA: {{ noti.fecha_de_publicacion }}</p>
            <p>CATEGORIA: {{ noti.categoria_noticia }}</p>
            <p>CONTENIDO: {{ noti.contenido }}</p>
        {% endfor %}
    {% else %}
        <h2>No hay noticias</h2>
    {% endif %}
{% endblock contenido %}


